# cosmwasm
**/artifacts/

# rust
**/target/

# nodejs
**/node_modules/

# next.js
**/.next/
**/out/

# editor
**/.vscode/

# macOS system files
**/.DS_Store

# temporary or private data
scripts/data/
scripts/keys/
scripts/data/
scripts/events/*
